.item {
  margin: 5px;
  padding: 5px;
  border: solid 1px lightgray;
  border-radius: 15px;
  display: flex;
  align-items: center;

  .content {

    .description-item {
      margin: auto;
    }
  }
}
